    {% if template == "index" %}
    <title>{{ shop.name }}{% if settings.short_description != blank %} - {{ settings.short_description | escape }}{% endif %}</title>
    {% else %}
    <title>{{ page_title }} - {{ shop.name }}</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if template contains "collection" %}
    <meta name="description" content="{{ collection.description | escape }}">
    {% elsif template == "index" %}
        {%- if settings.long_description != blank -%}
    <meta name="description" content="{{ settings.long_description | escape }}">
        {%- else -%}
    <meta name="description" content="{{ page_description | escape }}">
        {%- endif -%}
    {% else %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://stats.g.doubleclick.net">
    <link rel="preconnect" href="https://www.google.com">
    <link rel="preconnect" href="https://connect.facebook.net">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://fast.a.klaviyo.com">
    <link rel="preconnect" href="https://www.facebook.com">
    <link rel="preconnect" href="https://ajax.googleapis.com">
    <link rel="preconnect" href="https://productreviews.shopifycdn.com">
    <link rel="preconnect" href="https://telemetrics.klaviyo.com">