<div class="page-title">
    <h1>Your Account</h1>
</div>
<div class="page-content account-content">
    {% render "account-aside", customer: customer %}
    <div class="main">
        {% render "account-address-new", customer: customer %}
        {% render "account-address-edit", customer: customer %}
        <div class="addresses">
        {% for address in customer.addresses %}
            <div class="address" data-address-id="{{ address.id }}">
                <p><strong>{{ address.first_name }} {{ address.last_name }}</strong></p>
                <p>{{ address.address1 }}</p>
                {% if address.address2 != "" %}<p>{{ address.address2 }}</p>{% endif %}
                <p>{{ customer.address.city}}</p>
                {% if address.province %}<p class="province">{{ address.province }}</p>{% endif %}
                <p class="country">{{ address.country }}</p>
                <p>{{ address.zip }}</p>
                {% if address.phone %}<p>{{ address.phone }}</p>{% endif %}
                {% if address == customer.default_address %}<span>Default</span>{% endif %}
                <div class="actions">
                    <button data-address-id="{{address.id}}" class="edit" type="button">Edit</button>
                    {% unless address == customer.default_address %}
                    <form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit">Delete</button>
                    </form>
                    {% endunless %}
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="actions">
            <a href="#" class="btn add-new">Add New Address</a>
        </div>
    </div>
</div>
