<div class="articles">
    {% paginate blog.articles by 3 %}
    <ul class="articles__article-list">
      {% for article in blog.articles %}
        <li class="articles__article">
          <article>
            <a href="{{ article.url }}" class="articles__article-image"><img src="{{ article.image.src | img_url: "480x" }}" alt="{{ article.title }}"></a>
            <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
            <div class="articles__article-content">
              {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
              {% else %}
              <p>{{ article.content | strip_html | truncatewords: 40 }}</p>
              {% endif %}
              <p class="articles__article-meta">{{ article.author }} @ {{ article.created_at | date: "%A, %B %d, %Y" }}</p>
            </div>
          </article>
        </li>
      {% endfor %}
    </ul>
    {% if paginate.pages > 1 %}
    <div class="pagination">
        {{ paginate | default_pagination: next: '>', previous: '<' }}
    </div>
    {% endif %}
    {% endpaginate %}
</div>

{% schema %}
{
  "name": "Blog",
  "tag": "div",
  "class": "container"
}
{% endschema %}