<div class="page-title">
    <h1>{{ collection.title }}</h1>
</div>
<div class="page-content">
    {% render "collection-filter-sort" %}
    {% assign count = 0%}
    {% paginate collection.products by 3 %}
    <ul class="products" id="products">
    <!--__BEGIN_PRODUCT_LIST__-->
    <span class="current-sort" style="display:none;">{{ collection.sort_by }}</span>
    <span class="current-collection" style="display:none;">{{ collection.url }}</span>
    {% for product in collection.products %}
        {% assign count = count | plus: 1 %}
        <li class="product">{% render "product-card", product: product %}</li>
    {% else %}
        <li>No matches...</li>
    {% endfor %}
    <!--__END_PRODUCT_LIST__-->
    </ul>
    <div class="pagination" id="pagination">
    {% if paginate.next %}
        <!--__BEGIN_NEXT_URL__{{ paginate.next.url }}__END_NEXT_URL__-->
        <a class="btn" href="{{ paginate.next.url }}">Load More</a>
    {% endif %}
    </div>
    {% endpaginate %}
</div>

{% render "collection-filters-mobile" %}

{% schema %}
{
  "name": "Collection",
  "tag": "div",
  "class": "container"
}
{% endschema %}