{% paginate search.results by 999 %}

  <form action="/search" method="get" role="search" class="search-main" id="searchinput">
    <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search" id="searchmain">
    <button class="search-clear">Clear</button>
    <input type="hidden" name="type" value="product">
  </form>

  {% assign count = 0 %}

  {% if search.performed %}

    {% for item in search.results %}
      {% if item.object_type == 'product' %}
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}

    {% if count == 0 %}
      <p class="result-count">No results...</p>
      {% else %}
      {% render "search-filter-sort", count: count %}
    {% endif %}

    <ul class="products" id="products">
      <!--__BEGIN_PRODUCT_LIST__-->
    <span class="current-sort" style="display:none;">{{ search.sort_by }}</span>
    <span class="current-search" style="display:none;">{{ search.terms }}</span>
    {% for item in search.results %}
      {% if item.object_type == 'product' %}
        <li class="product">{% render "product-card", product: item %}</li>
      {% endif %}
    {% endfor %}
    <!--__END_PRODUCT_LIST__-->
    </ul>

  {% endif %}
  <div class="pagination" id="pagination">
  {% if paginate.next %}
      <!--__BEGIN_NEXT_URL__{{ paginate.next.url }}__END_NEXT_URL__-->
      <a class="btn" href="{{ paginate.next.url }}">Load More</a>
  {% endif %}
  </div>
{% endpaginate %}

{% render "search-filters-mobile" %}


{% schema %}
{
  "name": "Search",
  "tag": "div",
  "class": "container"
}
{% endschema %}